<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="log" class="com.xiao.log.Log"/>
    <bean id="afterLog" class="com.xiao.log.Afterlog"/>
    <bean id="diypointcut" class="com.xiao.diy.Diypointcut"/>
    <bean id="userService" class="com.xiao.service.UserServiceImpl"/>
    <!--开启注解支持-->
    <aop:aspectj-autoproxy/>
    <!--<aop:config>-->
        <!--<aop:pointcut id="pointcut" expression="execution(* com.xiao.service.UserServiceImpl.*(..))"/>-->
        <!--<aop:advisor advice-ref="log" pointcut-ref="pointcut"/>-->
        <!--<aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>-->
    <!--</aop:config>-->
    <!--<aop:config>-->
        <!--<aop:aspect ref="diypointcut">-->
            <!--<aop:pointcut id="pointcut" expression="execution(* com.xiao.service.UserServiceImpl.*(..))"/>-->
            <!--<aop:before method="before" pointcut-ref="pointcut"/>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->
</beans>